# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\work_project\git_warehouse\data_analysis_platform\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
